extends layout

block content

  .main.container.row
    .col-md-6.col-md-offset-3
      h1 Are you a "loner?"
      p  Well if so this is the place for you! Here you can experience a semi-real conversation... but one problem you can only talk cars, so you better love cars with all your emotions!
      button#beginbtn.btn.btn-primary(type='button') START MIC
      a(href="http://localhost:3000/speechtospeech")
        button#haultbtn.btn.btn-primary(type='button' onclick="location.reload()") STOP MIC
      - var text = transcription
      textarea(rows=10).form-control= text
      script(src="/socket.io/socket.io.js")
      script
        | var socket = io('http://localhost:3000')
      script(src="../bundleTwo.js")
      audio(autoplay='')
        source(src='../outputspeechtospeech.ogg?ver= ' + version, type='audio/ogg;codecs')
